.accordion {
    margin: 1rem;
    border-radius: 0rem;

}

.accordion * {
    font-size: 0.8rem;
}

.accordion-button {
    border-radius: 0rem;
}

/* .accordion-item {
    transition: height 0.1s ease !important
} */

.accordion>* {
    background-image: linear-gradient(to bottom right, #E5BDDF, #C6C0FC, #64D0E4);
    border-radius: 0.5rem;

    font-weight: bold;
    color: #623B2C;
    border-width: 0;

}

.accordion-button {
    background-image: linear-gradient(to bottom right, #E5BDDF, #C6C0FC, #64D0E4);
    border-radius: 0.5rem;

    color: #623B2C;

}

.accordion-button:hover {
    color: white;
}

.accordion-button * {
    font-weight: bold;
    border-width: 0;
}

.submit-button,
.cancel-button {
    border-radius: 50%;
    width: 1.8rem !important;
    height: 1.8rem !important;
    color: white ;
    text-align: center;
    /* font-size: 1rem; */
    padding: 0;
    margin:0 0.2rem 0;
    /* scale: 0.8; */
}

.focused {
    box-shadow: 120px 80px 40px 20px rgb(172, 231, 231);
}

@media only screen and (min-width: 768px) {

    .accordion * {
        font-size: 1rem;
    }

    .submit-button,
    .cancel-button {

        scale: 1;

    }

    .submit-button {
        margin-left: 2rem;
        margin-right: 1rem;
    }



}