.message {
    width: fit-content;
    height: fit-content;
    padding: 0;
    color: white;
    border-width: 0;
    max-width: 90%;
}

.user-message {
    text-align: right;
    margin: 1rem 2% 1rem auto;
    background-image: linear-gradient(to right bottom, #8EA7E9, #E5E0FF);
}

.assistant-message {
    text-align: left;
    margin: 1rem auto 1rem 2%;
    background-color: #FF597B;
}

@media only screen and (min-width: 768px) {

    .message {

        max-width: 70%;
    }

    .user-message {

        margin: 1rem 10% 1rem auto;

    }

    .assistant-message {
        margin: 1rem auto 1rem 10%;

    }
}