
.account-input  {
    margin: 1rem 10% 1rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 3px;
    border-color: #FAD6A5;
    padding: 1.5rem;
}

.account-input * {
    font-weight: bold;
    color: #376705;
}

.label {
    display: none;
}

.input-field {
    margin: 1rem 0 1rem;
}